@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form method="get" asp-action="getDayofWeek">
        <div class="form-group">
            <label for="xDodia">Valro do dia</label>
            <input type="text" name="x" id="xDodia" />
        </div>
        <button type="submit">getDayofWeek</button>
    </form>
</div>