@{
    ViewData["Title"] = "Home Page";
}


<div>
    <form method="get" asp-action="Tranformation">
        <div class="form-group">
            <label for="xDoIf">Valro de x</label>
            <input type="text" name="x" id="xDoIf" />
        </div>
        <button type="submit">GetIf</button>
    </form>
</div>
